body {
	font: 14px Microsoft YaHei,Arial,Helvetica,sans-serif,Simsun;
}

#sidebar {
	width: 220px;
	position: absolute;
	z-index: 999;
}
#sidebar .mainNavs {
	background: #fff;
	width: 220px;
}
#sidebar .menu_main {
	width: 205px;
	padding: 5px 12px;
	border: 2px solid #fafafa;
	border-right: none;
	overflow: hidden;
	position: relative;
}
#sidebar .menu_sub {
	width: 500px;
	padding: 10px 30px 5px 30px;
	position: absolute;
	top: 0;
	left: 219px;
	z-index: 999;
	border: 1px solid #c9cbce;
	/*border-left: none;*/
	background: #fff;
}
.dn{
	display: none;
}
#sidebar .mainNavs .menu_box{
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
#sidebar .mainNavs .menu_box .menu_main a{
	cursor: pointer;
	color: rgb(44,62,80);
}
#sidebar .mainNavs .menu_box .menu_main a:hover{
	cursor: pointer;
	color: rgb(255,153,51);
}

#sidebar .menu_sub dl {
	margin: 0 0 20px;
	overflow: hidden;
	width: 465px;
}
#sidebar .menu_sub dt {
width: 73px;
font-size: 14px;
margin: 0;
margin-left: -20px;

text-align: right;
position: absolute;
}
#sidebar .menu_sub dt a {
	padding: 0;
	color: #333;
	line-height: 28px;
	text-decoration: underline;
}

#sidebar .menu_sub span {
	margin-left: 70px;
	overflow: hidden;

	/*display: block;*/
/*float: left;
*/}


#sidebar .menu_sub span a.curr {
	color: #019875;
	cursor: pointer;
	background-position: -29px center !important;
	color: rgb(44,62,80);
}

#sidebar .menu_sub span a.curr:hover{
	color: #019875;
	cursor: pointer;
	background-position: -29px center !important;
	color: rgb(255,153,51);
}

#sidebar .menu_sub span a {
	white-space: nowrap;
	padding: 0 5px;
	color: #777;
	line-height: 28px;
	margin-left: -1px;
}



/*首页幻灯片 和右边登陆*/
.wrapSection{
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -moz-box-direction:normal;//设置mormal默认值
    -webkit-box-direction:normal;//设置mormal默认值
    box-direction:normal;//设置mormal默认值
    margin-top: -1px;
    z-index: -10;
}
.sectionOnea{
    /*background:orange;*/
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    width: 840px;
}
.sectionTwob{
    background: #fff;
    -moz-box-flex:2;
    -webkit-box-flex:2;
    box-flex:2;
    margin-top: -2px;
    width: 58px;
}

.take{
	border: solid 1px #ccc;
padding: 10px;
width: 225px;
margin: 0 auto;
font-size: 26px;
margin-top: 7px;
text-indent: 7px;
height: 70px;
font-weight: bold;
cursor: pointer;
line-height: 47px;
}
.take:hover{
		border: solid 1px #ccc;
padding: 10px;
width: 225px;
margin: 0 auto;
font-size: 26px;
margin-top: 7px;
text-indent: 7px;
height: 70px;
color: rgb(231,76,60);
font-weight: bold;
cursor: pointer;
line-height: 47px;
}

